* {
    box-sizing: border-box;
    font-family: Oxygen, serif;
}

body h1 {
    text-align: center;
    font-size: 175%;
}

section {
    background-color: silver;
    font-size: 125%;
    margin-bottom: 15px;
    border: 2px solid black;
    position: relative;  
}

p#item {
    margin: 0;
    border: 2px solid black;
    padding: 5px;
    width: 33%;
    position: absolute;
    top: -2px;
    right: -2px;
    text-align: center;
    font-weight: bold;
}

p#description {
    margin: 40px 10px 10px 10px;
    margin-bottom: 5px;
}

section {
    float:left;
}

section:nth-of-type(1) p:nth-of-type(1) {
    background-color: rgb(206, 121, 146);
}

section:nth-of-type(2) p:nth-of-type(1) {
    background-color: rgb(173, 35, 35);
}

section:nth-of-type(3) p:nth-of-type(1) {
    background-color: rgb(211, 211, 16);
}