* {
    box-sizing: border-box;
    font-family: Oxygen, serif;
}

body h1 {
    text-align: center;
    font-size: 175%;
}

section {
    background-color: silver;
    padding:0;
    border: 2px solid black;
    position: relative;
    float:left;
}

p#item {
    margin: 0;
    border: 2px solid black;
    font-size: 1.15em;
    padding: 5px;
    width: 33%;
    position: absolute;
    top: -2px;
    right: -2px;
    text-align: center;
    font-weight: bold;
}

p#description {
    margin: 40px 5px 10px 5px;
    
}


#Chicken #item {
    background-color: rgb(206, 121, 146);
}

#Beef #item {
    background-color: rgb(173, 35, 35);
}

#Sushi #item {
    background-color: rgb(211, 211, 16);
}