/* * {
    box-sizing: border-box;
    font-family: cursive;
}

#heading {
    text-align: center;
    margin: 8px;
    margin-bottom: 15px;
    color: blue;
}

.container-fluid {
    background-color: aqua;
    padding: 5px;
    border: 5px solid black;
}



a {
    background-color: greenyellow;
    width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.content:hover {
    background-color: red;
}

.content:hover > a {
    background-color: transparent;
} */

.content {
    background-color: greenyellow;
    text-align: center;
    font-weight: bold;
}