
body {
    font-size: 16px;
    background-color: #bf9c31;
}

#header-nav {
    border-radius: 0;
    border: 0;
    background-color: #7aa167;
}

body h1 {
    text-align: center;
    font-size: 175%;
}

body section {
    background-color: silver;
    border: 2px solid black;
    position: absolute;
    float: left;
}

p#item {
    margin: 0;
    border: 2px solid black;
    padding: 5px;
    width: 33%;
    position: absolute;
    top: -2px;
    right: -2px;
    text-align: center;
    font-weight: bold;
}

p#description {
    margin: 40px 10px 10px 10px;
    margin-bottom: 5px;
}

.container:nth-of-type(1) section p:nth-of-type(1) {
    background-color: rgb(206, 121, 146);
}

.container:nth-of-type(2) section p:nth-of-type(1) {
    background-color: rgb(173, 35, 35);
}

.container:nth-of-type(3) section p:nth-of-type(1) {
    background-color: rgb(211, 211, 16);
}